body {
    background-color: #808080;
    color: #FAFAFA;
}
.head1 {
    text-align: center;
    margin-top: 40px;
}
.text1 {
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    
}
.head3 {
    text-align: center;
}
.text2 {
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
}