.body1 {
background-color: aquamarine;
}
.body1 {
    color: blue;
}
.head1 {
    color: black;
    text-align: center;
    text-shadow: 2px 2px 1px red;
    text-transform: uppercase;
    text-decoration-line: overline;
    text-decoration-style: wavy;
}
.text1 {
    color: red;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style: dashed;
}
.text2 {
    text-align: left;
    text-decoration-line: line-through;
    text-decoration-color: yellow;
    text-decoration-style: double;
}